#registrousuario{
    background: transparent url(/Imagenes/FORM2.jpg) no-repeat scroll left bottom;
    border: medium none;
    color: #990033;
    height: 775px;
    width: 515px;
    padding: 0 0 0 50px;
    margin: 0 auto;
    border-radius: 20px;
}
#registrousuario legend{
    background: transparent url(/Imagenes/diego-ph-5LOhydOtTKU-unsplash.jpg) no-repeat scroll left top;
    color: #6633CC;
    font-family: Arial;
    font-size: 21px;
    letter-spacing: -1px;
    padding-top: 8px;
    padding-bottom: 20px;
    text-transform: capitalize;
    border-radius: 20px;
}
#registrousuario input.texto{
    background: #FFFFFF url(/Imagenes/sebastian-svenson-d2w-_1LJioQ-unsplash.jpg) no-repeat scroll left top;
    border: medium none !important;
    color: #666666;
    font-family: arial, sans-serif;
    font-size: 12px;
    letter-spacing: -1px;
    padding-top: 5px;
    padding-bottom: 0;
    padding-left: 5px;
    height: 24px;
    width: 454px;
    border-radius: 20px;
}
#registrousuario label{
    display: block;
    font-family: arial,sans-serif;
    font-size: 14px;
    padding: 10px 0 3px;
}
#registrousuario textarea.areadetexto{
    background: #ffffff url(/Imagenes/sebastian-svenson-d2w-_1LJioQ-unsplash.jpg) no-repeat scroll top left;
    color: #666666;
    font-family: arial,sans-serif;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 0;
    padding-left: 5px;
    height: 212px;
    width: 454px;
    border: none !important;
    border-radius: 20px;
}
#registrousuario input.botonenviar{
    background: transparent url(/Imagenes/francesco-ungaro-jqKS0ET-wGE-unsplash.jpg) no-repeat scroll lefT top;
    color: #FFFFFF;
    display: block;
    float: left;
    font-family: arial,sans-serif;
    font-size: 12px;
    text-align: center;
    height: 30px;
    width: 99px;
    margin-left: 360px;
    margin-top: 20px;
    border: none !important;
    border-radius: 10px;
}