body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header{
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

#presentacion{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#presentacion h1{
    margin: 5px 0;
}

#titulo{
    background-color: #004080;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
/*-------------------------------------------------------------------------------------*/
nav{
    background-color: orange;
    width: 90%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li{
    position: relative;
    padding: 10px 20px;
    text-align: center;
}

nav ul li input{
    display: none; /*Oculta el checkbox*/
}

nav ul li label{
    display: block;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

nav ul li label:hover,
nav ul li a:hover{
    background-color: rgb(191, 72, 8);
    color: white;
}

/*---------- SUBMENU ----------*/
nav ul li ul{
    display: none;
    position: absolute;
    background-color: white;
    left: 50%; /*Para que el codigo no se superponga*/
    transform: translateX(-50%);
    z-index: 100;
    width: 180px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0;
    max-height: 210px; /*Ajusta la altura máxima del submenú*/
    overflow-y: auto; /*Agrega scroll si el contenido sobrepasa la altura*/
}

nav ul li input:checked + ul{
    display: block;
}

nav ul li ul li{
    width: 100%;
    padding: 10px 0;
}

nav ul li ul li a{
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    transition: background 0.3s ease;
}   

nav ul li a{
    display: block;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    padding: 15px 10px;
    transition: background 0.3s ease;
}

nav ul li a:hover{
    background-color: rgb(191, 72, 8);
    color: white;
}
/*-------------------------------------------------------------------------------------*/

.menu_bar{
    display: none;
}

.menu_bar a{
    text-decoration: none;
    color: black;
}

main{
    display: flex;
    justify-content: center;
    padding: 20px;
}

article{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    text-align: center;
}

#contexto{
    width: 90%;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
    background-color: white;
}

#contexto p{
    text-align: center;
}

#imagenes{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

#imagenes img{
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

#imagenes img:hover{
    transform: scale(1.05);
}

footer {
    background-color: #222;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
}

footer p {
    margin: 2px 0;
}

@media screen and (max-width: 800px){
    #presentacion{
        margin-top: 80px;
        font-size: 10px;
        padding: 10px;
    }

    #presentacion img{
        width: 90px;
        height: 70px;
    }
    
    #titulo{
        font-size: 14px;
        margin-top: 10px;
        text-align: center;
        padding: 8px;
    }

    nav{
        position: fixed;
        margin: 0;
        left: -100%;
        height: 100%;
        top: 60px;
        width: 50%;
        font-size: 14px;
        box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
    }

    nav ul{
        display: block;
        float: none;
    }
    
    nav ul li{
        position: relative;
        width: 80%;
        text-align: center;
    }

    nav ul li input{
        display: none; /*Oculta el checkbox*/
    }

    nav ul li label {
        display: block;
        padding: 15px 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: background 0.3s ease-in-out;
    }

    nav ul li label:hover {
        background-color: rgb(191, 72, 8);
    }

    /*---------- SUBMENU ----------*/
    nav ul li ul {
        display: none;
        position: absolute;
        left: 50%; /*Para el submenu no se superponga*/
        transform: translateX(-50%);
        top: 100%;
        width: 180px;
        background-color: white;
        border-radius: 5px;
        z-index: 100;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        max-height: 200px;
        overflow-y: auto;
    }

    nav ul li input:checked + ul {
        display: block;
    }
    
    nav ul li ul li a {
        padding: 10px;
        display: block;
        color: black;
        text-decoration: none;
        transition: background 0.3s ease;
    }
    
    nav ul li ul li a:hover {
        background-color: rgb(191, 72, 8);
        color: white;
    }

    .menu_bar{
        background-color: #004080;
        display: flex;
        width: 100%;
        padding: 20px;
        text-align: left;
        position: fixed;
        align-items: center;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .menu_bar .bt-menu{
        color: white;
        font-size: 25px;
        font-weight: bold;
        cursor: pointer;
        margin-left: 20px;
    }
    
    main{
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    
    article{
        margin-top: 20px;
        padding: 15px;
    }

    #contexto{
        max-width: 90%;
        padding: 5px;
        font-size: 13px;
        text-align: center;
    }
    
    p{
       margin-left: 5%; 
    }

    #imagenes{
        gap: 20px;
    }

    #imagenes img{
        width: 120px;
        height: auto;
        border-radius: 8px;
        transition: transform 0.3s ease;
    }

    #imagenes img:hover{
        transform: scale(1.05);
    }

    footer{
        margin-top: 10px;
        padding: 10px;
        font-size: 12px;
        text-align: center;
    }
}